body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Police lisible par défaut */
}

#monCanvas {
  width: 800 px; 
  max-width: 900 px; /* Largeur maximale pour éviter que ce soit trop grand */
  height: auto; /* Conserve les proportions */
  display: block; /* Pour éviter les marges indésirables */
  margin: 0 auto; /* Centre le canvas horizontalement */
}

p {
  color: blue;
  text-align: center;
  font-size: 16 px; /* Taille de police lisible */
}

/* Classe pour les images en général */
img {
  display: block; /* Évite les espaces en dessous des images */
  margin-left: auto;
  margin-right: auto; /* Centre les images */
}

/* Classe pour l'image de ta tête */
.ma-tete {
  width: 60 %; /* Taille relative */
  max-width: 500 px; /* Largeur maximale */
  height: auto;
  margin-top: 20 px; /* Espace en haut */
}

/* Classe pour l'affiche typo 1 */
.affiche-typo 1 {
  width: 40 %; /* Taille relative */
  max-width: 300 px; /* Largeur maximale */
  height: auto;
  margin: 20 px auto; /* Centre et espace autour */
}


/* Classe pour l'affiche typo 2*/
.affiche-typo 2 {
  width: 40 %; /* Taille relative */
  max-width: 300 px; /* Largeur maximale */
  height: auto;
  margin: 20 px auto; /* Centre et espace autour */
}


/* Classe pour l'affiche typo 3*/
.affiche-typo 3 {
  width: 40 %; /* Taille relative */
  max-width: 300 px; /* Largeur maximale */
  height: auto;
  margin: 20 px auto; /* Centre et espace autour */
}


/* Classe pour le vinyl 1 */
.vinyl 1 {
  width: 5 %; /* Taille relative */
  max-width: 50 px; /* Largeur maximale */
  height: auto;
  margin: 10 px auto; /* Centre et espace autour */
}

/* Classe pour le vinyl 2 */
.vinyl 2 {
  width: 5 %; /* Taille relative */
  max-width: 50 px; /* Largeur maximale */
  height: auto;
  margin: 10 px auto; /* Centre et espace autour */
}

/* Classe pour le nom-prenom */
.nom-prenom {
  width: 70 %; /* Taille relative */
  max-width: 700 px; /* Largeur maximale */
  height: auto;
  margin: 20 px auto; /* Centre et espace autour */
}

/* Classe pour le logo */
.logo {
  width: 15 %; /* Taille relative */
  max-width: 150 px; /* Largeur maximale */
  height: auto;
  margin: 20 px auto; /* Centre et espace autour */
}


/* Classe pour clémentine */
.clementine {
  width: 5 %; /* Taille relative */
  max-width: 50 px; /* Largeur maximale */
  height: auto;
  margin: 10 px auto; /* Centre et espace autour */
}


